.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}
.create p {
  margin: 20px 0;
  font-size: 0.8em;
}
.create input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.create button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a09595;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
