.navbar {
  background: #a09595;
  color: #fff;
  padding: 20px;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  color: white;
  padding: 4px 6px;
  text-decoration: none;
}

.navbar a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}

.navbar a :last-child {
  color: white;
  margin-left: 40px;
  padding: 8px;
  text-decoration: none;
  /* border: 1px solid white; */
  border-radius: 4px;
}

.navbar a :last-child:hover {
  background-color: white;
  color: #333;
}
