.recipes-List {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}
.recipes-List .card {
  background: #f9f9f9;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.recipes-List .card:hover {
  transform: rotate(3deg);
}
.recipes-List .card h3 {
  color: #555;
  margin-bottom: 6px;
}
.recipes-List .card p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.recipes-List .card div {
  color: #555;
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}
.recipes-List .card a {
  color: #555;
  text-decoration: none;
  display: block;

  background: #e2e2e2;
  font-size: 0.9em;
  width: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto 0;
}
