.App {
  /* min-height: 100%; */
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
  background-color: #b8abab;
  color: white;
}

nav h1 {
  font-size: 1.5rem;
  margin-right: auto;
}

nav a {
  color: white;
  padding: 4px 6px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: #b8abab;
}

nav a.active {
  background-color: white;
  color: #cf3434;
}
